body{
  margin:0;
  background:#141414;
  color:white;
  font-family:Arial,sans-serif;
  }
  
  /* LOGIN */
  #login{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:15px;
  }
  
  #login input{
  padding:10px;
  border:none;
  border-radius:5px;
  }
  
  #login button{
  padding:10px 20px;
  background:#e50914;
  border:none;
  color:white;
  cursor:pointer;
  border-radius:5px;
  }
  
  /* APP */
  #app{display:none;}
  
  .navbar{
  padding:20px;
  font-size:28px;
  background:linear-gradient(#000,transparent);
  position:sticky;
  top:0;
  }
  
  /* FILAS */
  .fila{padding:20px;}
  .row{
  display:flex;
  gap:12px;
  overflow-x:auto;
  }
  
  .row img{
  width:220px;
  height:130px;
  object-fit:cover;
  border-radius:6px;
  cursor:pointer;
  transition:transform .3s;
  }
  
  .row img:hover{
  transform:scale(1.3);
  z-index:5;
  }
  
  /* MODAL */
  #modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.9);
  justify-content:center;
  align-items:center;
  }
  
  #modal img{
  max-width:85%;
  max-height:85%;
  border-radius:10px;
  }
  
  /* MOBILE */
  @media(max-width:600px){
  .row img{
  width:160px;
  height:100px;
  }
  }
  